<html>

<html xmlns:th="http://thymeleaf.org">
	
<head><title>Cadastro de consulta</title></head>

<body>
	<h3>Cadastro de consulta</h3>

	<form action="salvar" method="post">
		<p>
		<label for="input-horario">Horário: </label>
		<input type="datetime-local" id="input-horario" name="horario" placeholder="Digite o horário">
		<p>
		<label for="input-medico">Médico: </label>
		<select id="input-medico" name="medico">
			<option value="" disabled selected>Selecione um médico</option>
			<option th:each="m : ${listaMedicos}" th:value="${m.id}" th:text="${m.nome}"></option>
		</select>
		<p>
		<label for="input-paciente">Paciente: </label>
		<select id="input-paciente" name="paciente">
			<option value="" disabled selected>Selecione um paciente</option>
			<option th:each="p : ${listaPacientes}" th:value="${p.id}" th:text="${p.nome}"></option>
		</select>
		<p>
		<input type="submit" value="Salvar">
	</form>

</body>

</html>