<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Listagem de Consultas</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/components.css}">
</head>
<body>
	
	<header th:replace="~{fragments/util :: cabecalho}"></header>
	
	<main class="conteudo-principal">
		<h2>Lista de Consultas</h2>

		<div class="tabela-container">
			<table>
				<thead>
					<tr>
						<th>Horário</th>
						<th>Médico</th>
						<th>Paciente</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${listaC}">
						<td th:text="${#temporals.format(c.horario, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${c.medico.nome}"></td>
						<td th:text="${c.paciente.nome}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<a th:href="@{/consulta/cadastro}" class="btn-salvar">+ Nova Consulta</a>
		
	</main>
	<footer class="rodape">
		<p>&copy; 2026 Impostinho - Sistema de Gestão de Consultas</p>
	</footer>
</body>
</html>