<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de médico</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/components.css}">
</head>
<body>

	<header class="barra">
		<div class="barra-conteudo">
			<div class="logo"></div>
			<span class="logo-texto"><span class="simbolo">+</span>Impos<span>tinho</span></span>
		</div>
	</header>
	<main class="conteudo-principal">
		
		<div class="formulario-conteiner">
			<h2 class="titulo-form">Cadastro de Médico</h2>
			<form th:action="@{salvar}" method="post" th:object="${medico}">
				<div class="conteudo-form">
					<div class="campo">
						<label for="input-nome">Nome: </label>
						<input type="text" id="input-nome" th:field="*{nome}" placeholder="Digite o nome">
					</div>
					<div class="campo">
						<label for="input-especialidade">Especialidade: </label>
						<input type="text" id="input-especialidade" th:field="*{especialidade}" placeholder="Digite a especialidade">
					</div>
					<div class="campo">
						<label for="input-cpf">CPF: </label>
						<input type="text" id="input-cpf" th:field="*{cpf}" maxlength="11" placeholder="Digite o CPF">
					</div>
					<div class="campo">
						<label for="input-data_admissao">Data de admissão: </label>
						<input type="date" id="input-data_admissao" th:field="*{dataAdmissao}" placeholder="Digite a data admissional">
					</div>
					<div class="campo">
						<label for="input-nome-usuario">Nome de Usuário: </label>
						<input type="text" id="input-nome-usuario" th:field="*{usuario.username}" placeholder="Digite o nome de usuário">
					</div>
					<div class="campo">
						<label for="input-senha-usuario">Senha: </label>
						<input type="text" id="input-senha-usuario" th:field="*{usuario.senha}" placeholder="Digite a senha de usuário">
					</div>
				</div>
				
				<div class="acoes">
									<button type="submit" class="btn-salvar">Salvar</button>
									<a th:href="@{/medico/listar}" class="btn-cancelar">Cancelar</a>
								</div>
			</form>
		</div>
	</main>
	<footer class="rodape">
		<p>&copy; 2026 Impostinho - Sistema de Gestão de Médicos</p>
	</footer>

</body>
</html>