<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastro de médico</title>
    <link rel="stylesheet" th:href="@{/medico/cadastro.css}">
</head>

<body>

    <div class="barra">
        <span class="logo-texto"><span class="simbolo">+</span>Impostinho</span>
    </div>

    <div class="caixa">
        <h2>Cadastro de médico</h2>

        <form th:action="@{salvar}" method="post" th:object="${medico}">
            <p class="campo">
                <label for="input-nome">Nome:</label>
                <input type="text" id="input-nome" th:field="*{nome}" placeholder="Digite o nome">
            </p>

            <p class="campo">
                <label for="input-especialidade">Especialidade:</label>
                <input type="text" id="input-especialidade" th:field="*{especialidade}"
                    placeholder="Digite a especialidade">
            </p>

            <p class="campo">
                <label for="input-cpf">Cpf:</label>
                <input type="text" id="input-cpf" th:field="*{cpf}" maxlength="11" placeholder="Digite CPF">
            </p>

            <p class="campo">
                <label for="input-data_admissao">Data admissão:</label>
                <input type="date" id="data_admissao" th:field="*{dataAdmissao}" placeholder="Digite a data admissional">
            </p>

            <div class="acoes">
                <a th:href="@{/}" class="btn-cancelar">Cancelar</a>
                <input type="submit" value="Salvar" class="btn-salvar">
            </div>
        </form>
    </div>

</body>

</html>