<html>

<head>
	<title>Cadastro de médico</title>
</head>

<body>
	<h3>Cadastro de médico</h3>

	<form th:action="@{salvar}" method="post" th:object="${medico}">
		<p>
			<label for="input-nome">Nome:</label>
			<input type="text" id="input-nome" th:field="*{nome}" placeholder="Digite o nome">
		</p>

		<p>
			<label for="input-especialidade">Especialidade:</label>
			<input type="text" id="input-especialidade" th:field="*{especialidade}"
				placeholder="Digite a especialidade">
		</p>

		<p>
			<label for="input-cpf">Cpf:</label>
			<input type="text"  id="input-cpf" th:field="*{cpf}" maxlength="11" placeholder="Digite CPF">
		</p>

		<p>
			<label for="input-data_admissao">Data admissão:</label>
			<input type="date" id="data_admissao" th:field="*{dataAdmissao}" placeholder="Digite a data admissional">
		</p>

		<input type="submit" value="Salvar">
	</form>

</body>

</html>