<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de médicos demitidos</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/components.css}">
</head>
<body>

	
	<header th:replace="~{fragments/util :: cabecalho}"></header>
	

	<div class="caixa">
		<h2>Lista de médicos demitidos</h2>
		<table>
			<tr>
				<th>Nome</th>
				<th>Especialidade</th>
				<th>Data de admissão</th>
				<th>Cpf</th>
				<th>Data de demissão</th>
			</tr>
			<tr th:each="medicos : ${listaM}">
				<td th:text="${medicos.nome}"></td>
				<td th:text="${medicos.especialidade}"></td>
				<td th:text="${medicos.DataAdmissaoFormatada}"></td>
				<td th:text="${medicos.cpfFormatada}"></td>
				<td th:text="${medicos.DataDemissaoFormatada}"></td>
			</tr>
		</table>
	</div>
	
	<footer th:replace="~{fragments/util :: rodape}"></footer>
	
</body>
</html>
