<html>

<head>
	<meta charset="UTF-8">
	<title>Lista de médicos</title>
	<link rel="stylesheet" th:href="@{/medico/listar.css}">
</head>

<body>

	<div class="barra"></div>
	
	<div class="caixa">
		<div class="caixa-dois">
			<h3>Lista de médicos</h3>

					<ul>
			           <li th:each="medicos: ${listaM}"
						   th:text="|${medicos.nome}, tem especialidade em: ${medicos.especialidade}, com data admissional: ${medicos.DataAdmissaoFormatada}, portador do CPF: ${medicos.cpf}|">
						</li>

					</ul>
		</div>
	</div>
	

</body>

</html>