<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Lista de médicos</title>
	<link rel="stylesheet" th:href="@{/medico/listar.css}">
</head>

<body>

	<header class="barra">
		<div class="barra-conteudo">
			<div class="logo"></div>
			<span class="logo-texto"><span class="simbolo">+</span>Impos<span>tinho</span></span>
		</div>
	</header>


	<div class="caixa">
		<h2>Lista de médicos</h2>

		<table>
			<tr>
				<th>Nome</th>
				<th>Especialidade</th>
				<th>Data de admissão</th>
				<th>Cpf</th>
				<th>Ações</th>
			</tr>
			<tr th:each="medicos : ${listaM}">
				<td th:text="${medicos.nome}"></td>
				<td th:text="${medicos.especialidade}"></td>
				<td th:text="${medicos.DataAdmissaoFormatada}"></td>
				<td th:text="${medicos.cpf}"></td>
				<td>
					<!-- Botão de Editar passando o ID do médico -->
					<a th:href="@{/medico/editar(id=${medicos.id})}" class="btn-editar">Editar</a>
				</td>
			</tr>
		</table>

	</div>

	<footer class="rodape">
		<p>&copy; 2026 Impostinho - Sistema de Gestão de Médicos</p>
	</footer>

</body>

</html>