<html>

<head>
	<meta charset="UTF-8">
	<title>Lista de médicos</title>
	<link rel="stylesheet" th:href="@{/medico/listar.css}">
</head>

<body>

	<header class="barra">
		<div class="barra-conteudo">
			<div class="logo"></div>
			<span class="logo-texto"><span class="simbolo">+</span>Impos<span>tinho</span></span>
		</div>
	</header>


	<div class="caixa">
		<h2>Lista de médicos</h2>

		<table>
			<tr>
				<th>Nome</th>
				<th>Especialidade</th>
				<th>Data de admissão</th>
				<th>Cpf</th>
			</tr>
			<tr th:each="medicos : ${listaM}">
				<td th:text="${medicos.nome}"></td>
				<td th:text="${medicos.especialidade}"></td>
				<td th:text="${medicos.DataAdmissaoFormatada}"></td>
				<td th:text="${medicos.cpfFormatada}"></td>
			</tr>
		</table>

	</div>
  
	<div class="caixa">
  <form th:action="@{demitir}" th:object="${medico}" method="post" onsubmit="return confirm('Tem certeza que deseja demitir o médico?');">
		
		<label>Demitir médico</label>
		
		<select id="medicos" th:field="*{id}">
		
			<option value="">Selecione o médico</option>
			<option th:each="medicos : ${listaM}"
					th:if="${medicos.ativo == true}" 
			        th:value="${medicos.id}" 
			        th:text="${medicos.nome}">Nome do médico</option>
			
		</select>
		
		<button type="submit">Demitir</button>
	</form>
 </div>
	
	<footer class="rodape">
			<p>&copy; 2026 Impostinho - Sistema de Gestão de Pacientes</p>
    </footer>

</body>

</html>