<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Impostinho</title>
	<link rel="stylesheet" th:href="@{/medico/listar.css}">
</head>

<body>

	<header class="barra">
		<div class="barra-conteudo">
			<div class="logo"></div>
			<span class="logo-texto"><span class="simbolo">+</span>Impos<span>tinho</span></span>
		</div>
	</header>


	<div class="caixa">
		
<h2>Bem vindo ao Impostinho</h2>
<br>
<p>O unico posto medico Mundial</p>
		

	</div>
  
	<div class="caixa">
  
 </div>
	
	<footer class="rodape">
		<p>&copy; 2026 Impostinho</p>
	</footer>

</body>

</html>