<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/components.css}">
</head>
<body>
	
	<header th:replace="~{fragments/util :: cabecalho}"></header>
	
	<div class="login-container">
	    <h3>Acessar o Sistema</h3>
	
	    <!-- Mensagem de Erro (se houver) -->
	    <div th:if="${mensagemErro}" class="alert alert-erro" th:text="${mensagemErro}"></div>
	    <div th:if="${mensagemLogout}" class="alert alert-successo" th:text="${mensagemLogout}"></div>
	
	    <form th:action="@{/perform_login}" method="POST">
	        
	        <div class="form-group">
	            <label for="username">Usuário</label>
	            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required autofocus />
	        </div>
	
	        <div class="form-group">
	            <label for="password">Senha</label>
	            <input type="password" id="password" name="password" placeholder="Digite sua senha" required />
	        </div>
	        
	        <button type="submit" class="btn">Entrar</button>
	    </form>
	</div>
	
	<footer th:replace="~{fragments/util :: rodap}"></footer>
	
</body>
</html>
